@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    scroll-behavior: smooth;
    font-size: 62.5%;
    --white: #ffffff;
    --black: #1d1d1d;
    --shadow: 0px 0px 20px rgb(153, 152, 152);
    --primary-orange: #f26633;
    --gradient: linear-gradient(120deg, #e5f2ef, #e4f2ee, #fffaee) --gradient-second:
        linear-gradient(120deg, #e5f2ef, #e4f2ee, #ffffff);
}

body {
    line-height: 1.5;
    color: var(--white);
}
.bg-gradient {
    // background: var(--gradient)
    background: linear-gradient(180deg, #e5f2ef, #e4f2ee, #fffaee, #ffffff);
}

.bg-gradient-second {
    // background: var(--gradient-second)
    background: linear-gradient(#ffffff, #ecf2fb, #e4f2ee);
}

.max-width {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    @media (width<=1280px) {
        padding: 0 2.5rem;
    }
}

.service-card {
    perspective: 1000px;
}

.icon-container {
    transition: transform 0.3s ease;
}

.service-card:hover .icon-container {
    transform: translateZ(70px);
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.box-shadow {
    box-shadow: 1.5px 6px #1d1768;
}
.box-shadow:active {
    box-shadow: 0;
}

.btn-shadow{
box-shadow: 1px 5px #ffffff;
}
.btn-shadow:active {
    box-shadow: 0;
}